<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h3 style="text-align:center;">Register</h3>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success</strong>Your data has been entered successfully.<a routerLink="/login" class='text-primary'
            style='cursor: pointer;'>Login</a>
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="createUser" (ngSubmit)="saveUser()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder=" Name" formControlName="name"> <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder=" Email" formControlName="emailId"> <br>
          </div>
          <div class="form-group">

            <select style=" border-radius: 25px ;border-color:gray" class="form-group">
              <option id="gender" class="form-group" default disabled selected>&nbsp;&nbsp; Gender
              </option>
              <option class="form-group" formControlName="gender" value="1">&nbsp;&nbsp;&nbsp;&nbsp;Male
              </option>
              <option class="form-group" formControlName="gender" value="0">&nbsp;&nbsp;&nbsp;&nbsp;Female
              </option>
            </select>


            <br>
            <br>

          </div>
          <div class="form-group">
            <input type="date" class="form-control" placeholder=" DOB" formControlName="dateOfBirth"> <br>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder=" Mobile Number" formControlName="mobileNo"> <br>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder=" Password" formControlName="password">
          </div>

          <br>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>